(
  axes: {
    "move_y": Emulated(pos: Key(W), neg: Key(S)),
    "move_x": Emulated(pos: Key(D), neg: Key(A)),
    "zoom": MouseWheel(horizontal: false),
    "pan_x":Emulated(pos: Key(Right),neg:Key(Left)),
    "pan_y":Emulated(pos: Key(Up),neg:Key(Down)),
  },
  actions: {
      "speedUp": [[Key(Add)]],
      "slowDown": [[Key(Subtract)]],
      "shift": [[Key(LShift)]],
      "jump": [[Key(Space)]],
  },
)
