// Deserialises to a LoadingConfig struct.
(
    uis: [
        (Editor, "ui/editor.ron"),
        (Fps, "ui/fps.ron"),
        (LevelSelect, "ui/level_select.ron"),
        (MainMenu, "ui/main_menu.ron"),
        (Play, "ui/play.ron"),
        (Save, "ui/save.ron"),
        (WinMessage, "ui/win_message.ron"),
        (Settings, "ui/settings.ron"),
    ],
    animations: [
        (NotFound, "prefab/anim_not_found.ron"),
        (Miner, "prefab/anim_miner.ron"),
    ],
    stills: [
        (
            NotFound,
            "textures/not_found.png",
            "prefab/still_not_found.ron",
        ),
        (
            Ladder,
            "textures/ladder.png",
            "prefab/still_ladder.ron",
        ),
        (
            Frame,
            "textures/frame.png",
            "prefab/still_frame.ron",
        ),
        (
            Blocks,
            "textures/blocks.png",
            "prefab/still_blocks.ron",
        ),
        (
            Tools,
            "textures/tools.png",
            "prefab/still_tools.ron",
        ),
        (
            Door,
            "textures/door.png",
            "prefab/still_door.ron",
        ),
        (
            Selection,
            "textures/selection.png",
            "prefab/still_selection.ron",
        ),
        (
            LevelSelect,
            "textures/level_select.png",
            "prefab/still_level_select.ron",
        ),
        (
            EditorUiIcons,
            "textures/editor_ui_icons.png",
            "prefab/still_editor_ui_icons.ron",
        ),
        (
            Miner,
            "textures/miner_walk.png",
            "prefab/still_miner.ron",
        ),
    ],
    sound_effects: [
        (Mining, "audio/mining.wav"),
        (ToolPickup, "audio/tool_pickup_01.wav"),
        (ToolPickup, "audio/tool_pickup_02.wav"),
        (ToolPickup, "audio/tool_pickup_03.wav"),
        (KeyPickup, "audio/collect_key.wav"),
        (Win, "audio/win_01.wav"),
        (Win, "audio/win_02.wav"),
        (Win, "audio/win_03.wav"),
        (Win, "audio/win_04.wav"),
        (Jump, "audio/jump01.wav"),
        (Step, "audio/step01.wav"),
        (Step, "audio/step02.wav"),
        (Step, "audio/step03.wav"),
        (Step, "audio/step04.wav"),
        (Step, "audio/step05.wav"),
        (Step, "audio/step06.wav"),
        (Step, "audio/step07.wav"),
        (LadderStep, "audio/ladder_01.wav"),
        (LadderStep, "audio/ladder_02.wav"),
        (LadderStep, "audio/ladder_03.wav"),
        (LadderStep, "audio/ladder_04.wav"),
        (LadderStep, "audio/ladder_05.wav"),
        (CannotPerformAction, "audio/nonono.wav"),
        (MapStep, "audio/soft_shuffle.wav"),
        (LvlReset, "audio/lvl_reset_01.wav"),
        (LvlReset, "audio/lvl_reset_02.wav"),
        (LvlReset, "audio/lvl_reset_03.wav"),
        (LvlReset, "audio/lvl_reset_04.wav"),
        (LvlReset, "audio/lvl_reset_05.wav"),
    ],
    music_tracks: [
        "audio/music/Loyalty_Freak_Music_-_01_-_Once_more_with_you.mp3",
        "audio/music/Loyalty_Freak_Music_-_02_-_One_Cool_Minute.mp3",
        "audio/music/Loyalty_Freak_Music_-_03_-_Old_Key.mp3",
        "audio/music/Loyalty_Freak_Music_-_04_-_Static_Shoes.mp3",
        "audio/music/Loyalty_Freak_Music_-_05_-_Waiting_TTTT.mp3",
        "audio/music/Loyalty_Freak_Music_-_06_-_Lag.mp3",
        "audio/music/Loyalty_Freak_Music_-_07_-_No_Cadillac.mp3",
    ],
)