#![enable(implicit_some)]
(
    map: {
        "Player":(
            depth: Player,
            dimens: ( x:2, y:2, ),
            unique: true,
            mandatory: true,
            asset: Animated(Miner),
            preview_asset: Still(Miner, 0),
            archetype: Player,
            sturdiness: Invulnerable,
        ),
        "Block1":(
            depth: Blocks,
            dimens: ( x:1, y:1, ),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: true,
                collides_side: true,
                collides_bottom: true,
            ),
            asset: Still(Blocks, 0),
            sturdiness: Breakable,
        ),
        "Block2":(
            depth: Blocks,
            dimens: ( x:1, y:1, ),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: true,
                collides_side: true,
                collides_bottom: true,
            ),
            asset: Still(Blocks, 1),
            sturdiness: Breakable,
        ),
        "Ladder":(
            depth: Blocks,
            dimens: ( x:2, y:1, ),
            unique: false,
            mandatory: false,
            climbable: true,
            collision: (
                collides_top: true,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: Still(Ladder, 0),
            sturdiness: Invulnerable,
        ),
        "Key":(
            depth: FloatingBlocks,
            dimens: ( x:2, y:2, ),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: Still(Blocks, 3),
            archetype: Key,
            sturdiness: Invulnerable,
        ),
        "ToolPickaxe":(
            depth: FloatingBlocks,
            dimens: ( x:2, y:2, ),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: Still(Tools, 0),
            archetype: Tool(BreakBlocksBelow(2)),
            sturdiness: Invulnerable,
        ),
        "ToolHammer":(
            depth: FloatingBlocks,
            dimens: ( x:2, y:2, ),
            unique: false,
            mandatory: false,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: Still(Tools, 2),
            archetype: Tool(BreakBlocksHorizontally(2)),
            sturdiness: Invulnerable,
        ),
        "Door":(
            depth: Blocks,
            dimens: ( x:4, y:4, ),
            unique: true,
            mandatory: true,
            collision: (
                collides_top: false,
                collides_side: false,
                collides_bottom: false,
            ),
            asset: Still(Door, 0),
            archetype: Door,
            sturdiness: Invulnerable,
        ),
    }
)