// Deserialises to a DebugSettings struct.
//
// These are the default values. Don't change these, unless you mean to change the default for everyone.
// To change settings just for you, copy this file to .userdata/settings/ and change it there.
// If this file exists in .userdata/settings/, those values will be used instead of these.
(
    time_scale_presets: [
        0., 0.05, 0.1, 0.5, 1., 1.5, 2.,
    ],
    time_scale: 1.0,
    seconds_per_rewind_frame: 0.05,
    skip_straight_to_editor: false,
    display_debug_frames: false,
)