#![enable(implicit_some)]
Container(
    transform: (
        id: "menu",
        anchor: TopLeft,
        x: 960.,
        y: -32.,
        width: 1920.0,
        height: 64.0,
    ),
    background: SolidColor(0.70, 0.66, 0.53, 1.0),
    children: [
        Image(
            transform: (
                id: "toggle_force_place",
                x: 96.0,
                y: -32.0,
                width: 64.,
                height: 64.,
                anchor: TopLeft,
            ),
            image: Texture(File("textures/editor_ui_icons.png", ("IMAGE", ()))),
        ),
        Image(
            transform: (
                id: "toggle_copy_air",
                x: 160.0,
                y: -32.0,
                width: 64.,
                height: 64.,
                anchor: TopLeft,
            ),
            image: Texture(File("textures/editor_ui_icons.png", ("IMAGE", ()))),
        ),
        Image(
            transform: (
                id: "brush_preview",
                x: 224.0,
                y: -32.0,
                width: 64.,
                height: 64.,
                anchor: TopLeft,
            ),
            image: Texture(File("textures/editor_ui_icons.png", ("IMAGE", ()))),
        ),
    ]
)
