#![enable(implicit_some)]
Container(
    transform: (
        id: "menu",
        anchor: TopLeft,
        x: 960.,
        y: -32.,
        width: 1920.0,
        height: 64.0,
    ),
    background: SolidColor(0.70, 0.66, 0.53, 1.0),
    children: [
        Button(
            transform: (
                id: "load",
                x: 32.0,
                y: -32.0,
                width: 64.0,
                height: 64.0,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Load",
                font: File("font/OpenSans-Regular.ttf", ("TTF", ())),
                font_size: 36.0,
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
                normal_text_color: (0.2, 0.2, 0.2, 1.0),
                hover_text_color: (0.7, 0.7, 0.7, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
    ]
)
