(
    tiles: {
        (
            x: 10,
            y: -2,
        ): "BigBlock",
        (
            x: 0,
            y: -2,
        ): "BigBlock",
        (
            x: 2,
            y: -2,
        ): "BigBlock",
        (
            x: 8,
            y: -2,
        ): "BigBlock",
    },
)