(
    tiles: {
        (
            x: 0,
            y: -2,
        ): "BigBlock",
        (
            x: 7,
            y: -2,
        ): "BigBlock",
        (
            x: 2,
            y: -2,
        ): "BigBlock",
        (
            x: 9,
            y: -2,
        ): "BigBlock",
    },
)