(
    tiles: {
        (
            x: -14,
            y: 0,
        ): "Block1",
        (
            x: 7,
            y: 5,
        ): "Block1",
        (
            x: -15,
            y: 9,
        ): "Block1",
        (
            x: 10,
            y: 5,
        ): "Block1",
        (
            x: 0,
            y: 6,
        ): "Player",
        (
            x: -13,
            y: 0,
        ): "Block1",
        (
            x: -13,
            y: 9,
        ): "Block1",
        (
            x: -14,
            y: 2,
        ): "Key",
        (
            x: -13,
            y: -1,
        ): "Block1",
        (
            x: -11,
            y: 5,
        ): "Block1",
        (
            x: -10,
            y: -1,
        ): "Block1",
        (
            x: 5,
            y: -2,
        ): "Block1",
        (
            x: 1,
            y: -2,
        ): "Block1",
        (
            x: 4,
            y: 1,
        ): "Block1",
        (
            x: -8,
            y: 1,
        ): "Ladder",
        (
            x: 4,
            y: -1,
        ): "Block1",
        (
            x: -14,
            y: 9,
        ): "Block1",
        (
            x: 11,
            y: 5,
        ): "Block1",
        (
            x: -4,
            y: 5,
        ): "Block1",
        (
            x: -14,
            y: 5,
        ): "Block1",
        (
            x: 16,
            y: 5,
        ): "Block1",
        (
            x: 5,
            y: 5,
        ): "Block1",
        (
            x: 1,
            y: 5,
        ): "Block1",
        (
            x: -8,
            y: 0,
        ): "Ladder",
        (
            x: -3,
            y: 5,
        ): "Block1",
        (
            x: -16,
            y: 6,
        ): "Player",
        (
            x: 14,
            y: 4,
        ): "Key",
        (
            x: -16,
            y: 5,
        ): "Block1",
        (
            x: -14,
            y: -1,
        ): "Block1",
        (
            x: 0,
            y: 5,
        ): "Block1",
        (
            x: -13,
            y: 5,
        ): "Block1",
        (
            x: -16,
            y: 0,
        ): "Player",
        (
            x: -12,
            y: 9,
        ): "Block1",
        (
            x: 17,
            y: 5,
        ): "Block1",
        (
            x: -15,
            y: -1,
        ): "Block1",
        (
            x: 4,
            y: 2,
        ): "Key",
        (
            x: -7,
            y: 5,
        ): "Block1",
        (
            x: -7,
            y: -1,
        ): "Block1",
        (
            x: -15,
            y: 5,
        ): "Block1",
        (
            x: -8,
            y: -1,
        ): "Block1",
        (
            x: -13,
            y: 1,
        ): "Block1",
        (
            x: 10,
            y: 6,
        ): "Player",
        (
            x: 5,
            y: -1,
        ): "Block1",
        (
            x: -12,
            y: 6,
        ): "Key",
        (
            x: 1,
            y: -1,
        ): "Block1",
        (
            x: -8,
            y: 6,
        ): "Player",
        (
            x: 5,
            y: 1,
        ): "Block1",
        (
            x: -16,
            y: -1,
        ): "Block1",
        (
            x: 5,
            y: 0,
        ): "Block1",
        (
            x: 0,
            y: -2,
        ): "Block1",
        (
            x: 4,
            y: -2,
        ): "Block1",
        (
            x: 4,
            y: 6,
        ): "Key",
        (
            x: -16,
            y: 9,
        ): "Block1",
        (
            x: 6,
            y: 5,
        ): "Block1",
        (
            x: -8,
            y: 2,
        ): "Key",
        (
            x: 0,
            y: 0,
        ): "Player",
        (
            x: -14,
            y: 1,
        ): "Block1",
        (
            x: -11,
            y: 9,
        ): "Block1",
        (
            x: -8,
            y: 5,
        ): "Block1",
        (
            x: -4,
            y: 6,
        ): "Key",
        (
            x: -10,
            y: 0,
        ): "Player",
        (
            x: -12,
            y: 5,
        ): "Block1",
        (
            x: -9,
            y: -1,
        ): "Block1",
        (
            x: 4,
            y: 0,
        ): "Block1",
        (
            x: 0,
            y: -1,
        ): "Block1",
    },
)