#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../../src/demo.rs#MyPrefabData
    Prefab<MyPrefabData>
*/

Prefab(
    entities: [
        // Mob
        PrefabEntity(
            data: MyPrefabData(
                // SpriteScenePrefab
                sprite_scene: (
                    // SpriteSheetPrefab with index 0
                    sheet: Sheet(
                        // TexturePrefab
                        texture: File("textures/miner_walk.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    normalized: true,
                                    anisotropic: Off,
                                ),
                                premultiply_alpha: true,
                            ),
                        )),
                        sprites: [
                            Grid((
                                texture_width: 256,
                                texture_height: 128,
                                columns: 2,
                                rows: 1,
                                cell_size: (128, 128),
                            )),
                        ],
                        // optional
                        name: "miner",
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "miner",
                        sprite_number: 0,
                    ),
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            // AnimationId
                            Fly,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 0.5, 1.0],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [0, 1, 1],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                    ],
                ),
            ),
        )
    ],
)
