(
    tile_defs: {
        (
            x: -17,
            y: -6,
        ): "Block1",
        (
            x: -4,
            y: -7,
        ): "Block1",
        (
            x: 13,
            y: -9,
        ): "Block1",
        (
            x: 10,
            y: -5,
        ): "Block1",
        (
            x: -17,
            y: -3,
        ): "Block1",
        (
            x: 3,
            y: 8,
        ): "Block1",
        (
            x: -2,
            y: -8,
        ): "Block1",
        (
            x: 7,
            y: -5,
        ): "Block1",
        (
            x: -1,
            y: -8,
        ): "Block1",
        (
            x: 15,
            y: 8,
        ): "Block1",
        (
            x: -15,
            y: 8,
        ): "Block1",
        (
            x: 6,
            y: -5,
        ): "Block1",
        (
            x: -8,
            y: 5,
        ): "Block1",
        (
            x: 8,
            y: -5,
        ): "Block1",
        (
            x: -17,
            y: 7,
        ): "Block1",
        (
            x: -4,
            y: -1,
        ): "Key",
        (
            x: -3,
            y: 8,
        ): "Block1",
        (
            x: -16,
            y: 8,
        ): "Block1",
        (
            x: 16,
            y: -1,
        ): "Block1",
        (
            x: -8,
            y: -8,
        ): "Player",
        (
            x: -12,
            y: -9,
        ): "Block1",
        (
            x: -14,
            y: -8,
        ): "BigBlock",
        (
            x: -16,
            y: -8,
        ): "BigBlock",
        (
            x: -2,
            y: -9,
        ): "Block1",
        (
            x: 5,
            y: -5,
        ): "Block1",
        (
            x: -1,
            y: 5,
        ): "Block1",
        (
            x: 1,
            y: 8,
        ): "Block1",
        (
            x: -2,
            y: -5,
        ): "Block1",
        (
            x: 16,
            y: -8,
        ): "Block1",
        (
            x: -5,
            y: 8,
        ): "Block1",
        (
            x: 8,
            y: -9,
        ): "Block1",
        (
            x: 13,
            y: 8,
        ): "Block1",
        (
            x: -15,
            y: -9,
        ): "Block1",
        (
            x: 9,
            y: 8,
        ): "Block1",
        (
            x: -16,
            y: -9,
        ): "Block1",
        (
            x: 2,
            y: -5,
        ): "Block1",
        (
            x: 16,
            y: 3,
        ): "Block1",
        (
            x: -8,
            y: -9,
        ): "Block1",
        (
            x: -3,
            y: 5,
        ): "Block1",
        (
            x: -17,
            y: 5,
        ): "Block1",
        (
            x: 16,
            y: 2,
        ): "Block1",
        (
            x: 4,
            y: -5,
        ): "Block1",
        (
            x: 15,
            y: -9,
        ): "Block1",
        (
            x: 11,
            y: -9,
        ): "Block1",
        (
            x: -1,
            y: -5,
        ): "Block1",
        (
            x: -17,
            y: -1,
        ): "Block1",
        (
            x: 1,
            y: 5,
        ): "Block1",
        (
            x: -5,
            y: -9,
        ): "Block1",
        (
            x: 11,
            y: 8,
        ): "Block1",
        (
            x: -6,
            y: -9,
        ): "Block1",
        (
            x: -17,
            y: -2,
        ): "Block1",
        (
            x: -4,
            y: 8,
        ): "Block1",
        (
            x: 16,
            y: -7,
        ): "Block1",
        (
            x: -3,
            y: -2,
        ): "Block1",
        (
            x: -14,
            y: 2,
        ): "Ladder",
        (
            x: -2,
            y: -7,
        ): "Block1",
        (
            x: -14,
            y: -4,
        ): "Ladder",
        (
            x: -6,
            y: 6,
        ): "Key",
        (
            x: 1,
            y: -9,
        ): "Block1",
        (
            x: -11,
            y: 5,
        ): "Block1",
        (
            x: 5,
            y: -9,
        ): "Block1",
        (
            x: -15,
            y: 5,
        ): "Block1",
        (
            x: 14,
            y: -8,
        ): "Ladder",
        (
            x: 16,
            y: 0,
        ): "Block1",
        (
            x: 14,
            y: -6,
        ): "Ladder",
        (
            x: -1,
            y: 8,
        ): "Block1",
        (
            x: -17,
            y: -8,
        ): "Block1",
        (
            x: 10,
            y: 8,
        ): "Block1",
        (
            x: 0,
            y: 8,
        ): "Block1",
        (
            x: 16,
            y: -5,
        ): "Block1",
        (
            x: -6,
            y: 5,
        ): "Block1",
        (
            x: -17,
            y: 2,
        ): "Block1",
        (
            x: 10,
            y: -8,
        ): "Key",
        (
            x: 14,
            y: -9,
        ): "Block1",
        (
            x: -14,
            y: -6,
        ): "BigBlock",
        (
            x: -9,
            y: 5,
        ): "Block1",
        (
            x: -7,
            y: -9,
        ): "Block1",
        (
            x: 5,
            y: 8,
        ): "Block1",
        (
            x: -17,
            y: -5,
        ): "Block1",
        (
            x: -17,
            y: 0,
        ): "Block1",
        (
            x: 7,
            y: 8,
        ): "Block1",
        (
            x: 2,
            y: 8,
        ): "Block1",
        (
            x: -17,
            y: 4,
        ): "Block1",
        (
            x: 3,
            y: -1,
        ): "Block1",
        (
            x: -3,
            y: -8,
        ): "Block1",
        (
            x: 11,
            y: -5,
        ): "Block1",
        (
            x: -8,
            y: 8,
        ): "Block1",
        (
            x: -4,
            y: 5,
        ): "Block1",
        (
            x: -3,
            y: -7,
        ): "Block1",
        (
            x: -12,
            y: 5,
        ): "Block1",
        (
            x: 7,
            y: -9,
        ): "Block1",
        (
            x: -13,
            y: 8,
        ): "Block1",
        (
            x: 13,
            y: -5,
        ): "Block1",
        (
            x: -1,
            y: -2,
        ): "Block1",
        (
            x: -11,
            y: 8,
        ): "Block1",
        (
            x: 4,
            y: 8,
        ): "Block1",
        (
            x: -2,
            y: -6,
        ): "Block1",
        (
            x: -2,
            y: 5,
        ): "Block1",
        (
            x: -17,
            y: -9,
        ): "Block1",
        (
            x: -17,
            y: -7,
        ): "Block1",
        (
            x: 16,
            y: 4,
        ): "Block1",
        (
            x: 6,
            y: -9,
        ): "Block1",
        (
            x: -4,
            y: -2,
        ): "Block1",
        (
            x: -14,
            y: 0,
        ): "Ladder",
        (
            x: 2,
            y: -9,
        ): "Block1",
        (
            x: -2,
            y: -2,
        ): "Block1",
        (
            x: 2,
            y: 5,
        ): "Block1",
        (
            x: 0,
            y: -9,
        ): "Block1",
        (
            x: -7,
            y: 8,
        ): "Block1",
        (
            x: 16,
            y: -2,
        ): "Block1",
        (
            x: 16,
            y: 8,
        ): "Block1",
        (
            x: -1,
            y: -9,
        ): "Block1",
        (
            x: 6,
            y: 8,
        ): "Block1",
        (
            x: 16,
            y: 6,
        ): "Block1",
        (
            x: -12,
            y: 8,
        ): "Block1",
        (
            x: -9,
            y: 8,
        ): "Block1",
        (
            x: 3,
            y: -5,
        ): "Block1",
        (
            x: -10,
            y: -9,
        ): "Block1",
        (
            x: -11,
            y: -9,
        ): "Block1",
        (
            x: -10,
            y: 8,
        ): "Block1",
        (
            x: -5,
            y: 5,
        ): "Block1",
        (
            x: 4,
            y: -9,
        ): "Block1",
        (
            x: 12,
            y: -9,
        ): "Block1",
        (
            x: -14,
            y: -9,
        ): "Block1",
        (
            x: 16,
            y: 7,
        ): "Block1",
        (
            x: -9,
            y: -9,
        ): "Block1",
        (
            x: 14,
            y: 8,
        ): "Block1",
        (
            x: 5,
            y: -1,
        ): "Block1",
        (
            x: -13,
            y: -9,
        ): "Block1",
        (
            x: 16,
            y: -4,
        ): "Block1",
        (
            x: -17,
            y: 1,
        ): "Block1",
        (
            x: 12,
            y: 8,
        ): "Block1",
        (
            x: 16,
            y: -3,
        ): "Block1",
        (
            x: -10,
            y: 5,
        ): "Block1",
        (
            x: 9,
            y: -5,
        ): "Block1",
        (
            x: -17,
            y: 6,
        ): "Block1",
        (
            x: 16,
            y: -9,
        ): "Block1",
        (
            x: 2,
            y: -1,
        ): "Block1",
        (
            x: -1,
            y: -6,
        ): "Block1",
        (
            x: -17,
            y: 8,
        ): "Block1",
        (
            x: -16,
            y: 5,
        ): "Block1",
        (
            x: 8,
            y: 8,
        ): "Block1",
        (
            x: -14,
            y: 8,
        ): "Block1",
        (
            x: -3,
            y: -9,
        ): "Block1",
        (
            x: 12,
            y: -5,
        ): "Block1",
        (
            x: 4,
            y: -1,
        ): "Block1",
        (
            x: -1,
            y: -7,
        ): "Block1",
        (
            x: -4,
            y: -8,
        ): "Block1",
        (
            x: -14,
            y: 4,
        ): "Ladder",
        (
            x: 16,
            y: 1,
        ): "Block1",
        (
            x: -17,
            y: -4,
        ): "Block1",
        (
            x: -2,
            y: 8,
        ): "Block1",
        (
            x: -6,
            y: 8,
        ): "Block1",
        (
            x: -12,
            y: -8,
        ): "BigBlock",
        (
            x: 16,
            y: 5,
        ): "Block1",
        (
            x: 3,
            y: 5,
        ): "Block1",
        (
            x: 0,
            y: 5,
        ): "Block1",
        (
            x: 9,
            y: -9,
        ): "Block1",
        (
            x: -14,
            y: -2,
        ): "Ladder",
        (
            x: -17,
            y: 3,
        ): "Block1",
        (
            x: 16,
            y: -6,
        ): "Block1",
        (
            x: 3,
            y: -9,
        ): "Block1",
        (
            x: -4,
            y: -9,
        ): "Block1",
        (
            x: 10,
            y: -9,
        ): "Block1",
        (
            x: -7,
            y: 5,
        ): "Block1",
    },
)