(
    layers: [
        (
            tiles: {
                (
                    x: 0,
                    y: 0,
                ): (
                    dimens: (
                        x: 2,
                        y: 2,
                    ),
                    asset: Animated(Mob),
                    entity_type: Player,
                ),
                (
                    x: 5,
                    y: 3,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 8,
                    y: 2,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 9,
                    y: 5,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 3,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -8,
                    y: 1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -9,
                    y: 2,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 9,
                    y: 4,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 10,
                    y: 6,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -3,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -1,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 8,
                    y: 5,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 3,
                    y: 1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 6,
                    y: 1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 7,
                    y: 1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 10,
                    y: 9,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 4,
                    y: 1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 7,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 9,
                    y: 3,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 7,
                    y: 0,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -5,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -8,
                    y: 0,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -6,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -4,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 0,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 5,
                    y: 0,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 6,
                    y: 0,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 4,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -2,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -7,
                    y: 0,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 2,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 8,
                    y: 3,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 8,
                    y: 4,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 2,
                    y: 0,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 10,
                    y: 8,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 10,
                    y: 7,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -8,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 4,
                    y: 2,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 9,
                    y: 2,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 3,
                    y: 0,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 2,
                    y: 1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -7,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 6,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 5,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -7,
                    y: 1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -9,
                    y: 3,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 4,
                    y: 0,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 1,
                    y: -1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 4,
                    y: 3,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 5,
                    y: 2,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: 5,
                    y: 1,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -9,
                    y: 5,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
                (
                    x: -9,
                    y: 4,
                ): (
                    dimens: (
                        x: 1,
                        y: 1,
                    ),
                    asset: Still(Blocks, 0),
                    entity_type: DestructableTerrain,
                ),
            },
        ),
    ],
)